# See config.configuration for env vars that can be set. Prefix vars with
# value of env_prefix

BASICAPI_PROJECT_NAME=BasicAPI
BASICAPI_SERVER_NAME=localhost
BASICAPI_SERVER_HOST=http://localhost
BASICAPI_POSTGRES_SERVER=localhost
BASICAPI_POSTGRES_USER=username
BASICAPI_POSTGRES_PASSWORD=password
BASICAPI_POSTGRES_DB=basicapi
BASICAPI_SQLALCHEMY_DATABASE_URI=sqlite:///basicapi.db
#BASICAPI_SQLALCHEMY_DATABASE_URI=postgresql://username:password@localhost/basicapi
BASICAPI_DOCSET=full

# to get a secret key:
# openssl rand -hex 32
BASICAPI_SECRET_KEY=supersecret
BASICAPI_ALGORITHM = "HS256"
